<form action="/players" method="post">
  <input type="text" name="player[name]" placeholder="Name" />
  <input type="number" name="player[goals]" placeholder="Goals" />
  <button type="submit">Submit</button>
</form>
